::selection {
    color: #003d61;
    background: #ffd343;
}

.navbar {
    padding: 0.25em 0;
}

.nav-title,
.nav-icon {
    color: #FFFFFF;
}

.nav-icon {
    margin: 0.5em 1em 0 0;
}

.nav-link {
    display: flex;
}

.nav--fixed {
    background-image: linear-gradient(#005b9a 5%, #0081ca 95%);
}

.nav--transparent {
    background: transparent;
}

.main {
    margin: 5em 0;
}

.home-gradient {
    background-image: linear-gradient(#005b9a 5%, #0081ca 95%);
}

.home-buttons ul {
    list-style-type: none;
}

.home-button {
    margin: 1em 0;
}

/* Hack! Our static site generator generates a trailing vertical line that we hide with CSS */
.home-links .level-item:last-of-type {
    display: none;
}

.home-link-item {
    padding: 2em;
    color: #FFFFFF;
}

.home-link-item svg,
.home-link-item img {
    display: block;
    margin: 0 auto 0.25em auto;
}

.home-link-item__label {
    display: block;
    font-weight: bold;
    margin-top: 2em;
    text-transform: uppercase;
}

.meetup-logo {
    max-width: 180px;
}

.vertical-line {
    width: 1px;
    /* Line width */
    background-color: rgba(255, 255, 255, 0.7);
    /* Line color */
    height: 100%;
    /* Override in-line if you want specific height. */
    padding: 3em 0;
}

.radio-text {
    margin-left: 0.5em;
}

.radio {
    margin-bottom: 0.5em;
}

.field:not(:last-child) {
    margin-bottom: 1.10rem;
}

.radio-group.is-danger {
    border: 1px solid red;
}

.radio.is-danger {
    border-bottom: 1px solid red;
}

.radio {
    padding-bottom: 0.2em;
}